@import "tailwindcss";

/* Base styles */
@layer base {
  body {
    margin: 0;
    background-color: #f8fafc;
    color: #0f172a;
    font-family:
      ui-sans-serif,
      system-ui,
      -apple-system,
      "Segoe UI",
      Roboto,
      Arial,
      "Noto Sans",
      "Liberation Sans",
      sans-serif;
  }
}
